<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="map"></div>
    <div id="app" class="floatItem">
        <div  class="h-100 card border-info">
            <div class="card-header"><h1>lista de estaciones</h1></div>
            <div class="card-body">
                <div id="style-7" class="list-group scroll">
                    <a v-for="estacion in estaciones" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{estacion.nombre}}</h5>
                        <small>9.000</small>
                        </div>
                        <p class="mb-1"> frente a ronda real</p>
                    </a> 
                </div>
            </div>
        </div>
    </div>
    <script src="../js/controller.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
    async defer></script>
</body>
</html>