#map {
height: 100%;
}
html, body {
height: 100%;
margin: 0;
padding: 0;
}
.floatItem {
    position: absolute;
    top: 10%;
    left: 5%;
    max-width: 90%;
    width: 360px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.18);
}
/*se establece que a un tamaño de pantalla de 800px o inferior se modificaran los atributos de la clase*/
@media screen and (max-width: 800px) {
    .floatItem {
        position: absolute;
        top: 70%;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        max-width: 100%;
        width: 100%;
        border-radius: 2px;
        text-align: center;
    }
}
